.jumbotron{
    background-color: aqua;
}

.card-hotel{
    flex: 1 150px;
    padding: 2px 6px 3px 6px;
    margin-top: 10px;
}

.btn-reserva{
    width: 100%;
}

footer{
    background-color: aqua;
    margin-top: 20px;
}